.titulo2 {
    padding: 2rem;

}

.textos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.num_erro, .mensagem_erro {
    font-size: 300px;
    color: var(--red);
    font-weight: bold;
}

.mensagem_erro {
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .num_erro {
        font-size: 200px;
    }
    .mensagem_erro {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .num_erro {
        font-size: 150px;
    }
    .mensagem_erro {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .num_erro {
        font-size: 100px;
    }
    .mensagem_erro {
        font-size: 0.8rem;
    }
}